/* Home Page */
body {
    background-color: rgb(28, 17, 27);
    background-image: linear-gradient(327.21deg, rgba(121, 2, 81, 0.24) 3.65%, rgba(20, 0, 46, 0) 40.32%), linear-gradient(245.93deg, rgba(209, 21, 111, 0.16) 0%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(147.6deg, rgba(12, 10, 22, 0) 29.79%, rgba(209, 25, 80, 0) 36.63%);

}

.main-menu {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(19, 17, 28);
    background-image: linear-gradient(327.21deg, rgba(33, 0, 75, 0.24) 3.65%, rgba(60, 0, 136, 0) 40.32%), linear-gradient(245.93deg, rgba(209, 21, 111, 0.16) 0%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(147.6deg, rgba(58, 19, 255, 0) 29.79%, rgba(209, 25, 80, 0) 36.63%);

    background-image: linear-gradient(to right, #0b1122, rgb(46, 20, 46));

}

.home-button:hover {
    background-image: linear-gradient(to right, rgb(60, 60, 255), rgb(158, 53, 158));
    transition-duration: 300ms;
}



.safe-space {
    margin-top: 200px;
    padding-bottom: 50px;
}

#home-price-sec {
    padding-top: 200px;
    padding-bottom: 200px;
}

.client-review-sec {
    padding-top: 200px;
    padding-bottom: 200px;
}


.testimonial {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider-container {
    display: flex;
    overflow: hidden;
}

.team-member {
    padding-top: 50px;
    padding-bottom: 50px;
}


.about-about {
    padding-top: 180px;
}

.about-top {
    padding-bottom: 180px;
}

.about-team {
    padding-top: 200px;
    padding-bottom: 280px;
}

.about-about-card {
    padding: 30px;
}

.review-left-btn {
    background-color: #eee9ff;
}

.review-left-btn:hover {
    background-color: #e2e8f0;
}

.review-right-btn {
    background-color: #6c64ff;
}

.review-right-btn:hover {
    background-color: #4c44e7;
}


.card-styling:hover {
    background-color: #17203a;
    border: 1px solid #212e50;
}

.card-img {
    height: 200px;

}


.about-cta {
    background-color: #0B1120;
    padding: 90px;
}

.about-feature-card {
    background-color: #0B1120;
}

.about-feature-card:hover {
    color: white;
}


.cta-card {
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 40px;
    background-color: #0B1120;
    border: 1px solid #17203a;
    color: white;
}

.cta-card p {
    color: white;
}

.cta-card:hover {
    background-color: #0B1120;
    border: 1px solid #2d26ad;
}

/* Contact Page */
.contact-main {
    padding-top: 220px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 260px;
}

.contact-cta {
    padding-left: 10px;
    padding-right: 10px;
}

.help-center {
    border-radius: 10px;
    color: white;
}


#contact {
    padding-top: 50px;
}

#contact-form {
    margin-top: 30px;
    margin-bottom: 100px;
}

.full-footer {
    padding-left: 10px;
    padding-right: 10px;
}

.help-center i {
    color: white;
    font-size: 40px;
}



/* Technology Page */
.tech-hero img {
    width: 1200px;
}

.tech-hero-text {
    width: 40%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #f6f4ff;
    border: 1px solid #6c64ff;
    border-style: dotted;
    border-radius: 5px;
}

.tech-hero-server {
    color: white;
}

.server-icon {
    width: 60px;
}

.server-text {
    margin-top: 60px;
}

.tech-database {
    margin-top: 80px;
    margin-bottom: 80px;
}

.database-sec {
    margin-top: 40px;
}

.database-item {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}



.database-item img {
    height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 100px;
}

.tech-other-feature {
    padding: 30px;
    border: 1px solid #17203a;
}

.tech-other-feature:hover {
    border: 1px solid #192441;
    transition-duration: 300ms;
}

.technology-sec {
    margin-bottom: 80px;
}

.tech-db {
    padding-top: 120px;
    padding-bottom: 120px;
}


.email-image {
    width: 100%;
    padding-right: 125px;

}

.system-req {
    margin-top: 200px;
    margin-bottom: 250px;
}

.server-req-text {
    margin-left: 20px;
}

.physical-server {
    padding: 20px;
    color: white;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #17203a;
}

.physical-server img {
    width: 100px;
    border-radius: 100%;
    border: 1px solid #192441;
}


/* App Hosting page */
.hero-text {
    width: 50%;
}

.app-hero-image {
    width: 50%;
    width: 600px;
}



/* Product Features Page */
.product-features {
    background-color: #0B1120;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #17203a;
    border-radius: 5px;
}

.product-features:hover {
    background-color: #0b1122;
    border: 1px solid #2962ff;
    transition-duration: 300ms;
}

.single-product-features {
    color: white;
    padding: 25px;
    border-radius: 5px;
}

.single-product-features:hover {
    transition-duration: 300ms;
}

.single-product-features p {
    margin-top: 10px;
    color: #98a3b8;
}

.reviews-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    /* For Firefox */
}

.reviews-container::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

@media (min-width: 768px) {
    .home-review {
        min-width: 400px;
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .home-review {
        min-width: 300px;
        max-width: 300px;
    }
}





/* Pricing Page */
.pricing-card {
    border-radius: 20px;
    padding: 50px;
    border: 1px solid #4b5563;
}


.pricing-title h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}


.buy-plan {
    width: 100%;
    text-align: center;
    background-color: #4b5563;
}

.buy-plan:hover {
    width: 100%;
    text-align: center;
    background-color: #2962ff;
    transition-duration: 300ms;
}

.active-buy-plan {
    width: 100%;
    text-align: center;
    background-color: #433bdb;
}

.active-buy-plan:hover {
    width: 100%;
    text-align: center;
    background-color: #2962ff;
    transition-duration: 300ms;
}

.active-pricing-card {
    border: 1px solid #4375ff;
}

.faqs {
    padding-top: 250px;
    padding-bottom: 200px;
    width: 60%;
    color: white;
}

.faqs-ans {
    color: #98a3b8;
}


/* FAQs Page */

.faqs-main {
    margin-top: 50px;
    margin-bottom: 100px;
}

.faqs-main h1 {
    color: white;
}

.accordion-item {
    color: white;
}

.accordion-content {
    padding: 0px;
    margin-bottom: 25px;
    text-align: left;
    color: #98a3b8;
    transition-duration: 300ms;
}

.faq-para {
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* Features page Style */
.feature-hero {
    margin-top: 110px;
    margin-bottom: 110px;
}

/* Roadmp Page */
.roadmap-top {
    padding: 30px;
    border: 1px solid #17203a;
}

.roadmap-top:hover {
    transition-duration: 300ms;
}

/* About Page */
.about-hero {
    margin-top: 50px;
    margin-bottom: 45px;
}

.about-feature {
    padding-top: 220px;
    padding-bottom: 230px;
}

.about-cta-cont {
    padding-top: 160px;
    padding-bottom: 200px;
}

.about-cta {
    background-color: #0f1527;
    border-radius: 10px;
}

/* Technology page new style */
#technology-database {
    padding-top: 40px;
    padding-bottom: 140px;
}

#dns-section {
    padding-top: 80px;
    padding-bottom: 150px;
}


#email-section {
    padding-top: 130px;
    padding-bottom: 150px;

}

/* App Hosting page */
.apphosting-1 {
    padding-bottom: 160px;
}


.apphosting-2 {
    padding-bottom: 150px;
}

.apphosting-3 {
    padding-bottom: 80px;
}

.apphosting-4 {
    padding-bottom: 200px;
}

.apphosting-title {
    font-size: 45px;
}


/* Dashboard Styling Start */
#dashboard-bg {
    background-color: #ffffff;
    color: #0B1120;
    background-image: linear-gradient(327.21deg, rgba(141, 167, 255, 0.24) 3.65%, rgba(80, 104, 223, 0) 40.32%), linear-gradient(245.93deg, rgba(0, 38, 165, 0.16) 0%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(147.6deg, rgba(0, 62, 185, 0) 29.79%, rgba(0, 68, 255, 0) 36.63%);
}

#dashboard-main {
    background: #13111C;
}

/* Account Image */
.account {
    position: relative;
    display: inline-block;
}

.account img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Dropdown styles */
.dasDropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
}

.dasDropdown img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}

.dasDropdown .name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.dasDropdown a {
    display: block;
    text-decoration: none;
    text-align: center;
}

.dasDropdown a:hover {
    background-color: #1a1825;
    border-radius: 10px;
}

#dashborad-item:hover{
    background-color: #1a1825;
}




/* Custom CSS End */


/* White Mode Theme Start */
body.light-mode {
    background-color: #ffffff;
    color: #0B1120;
    background-image: linear-gradient(327.21deg, rgba(141, 167, 255, 0.24) 3.65%, rgba(80, 104, 223, 0) 40.32%), linear-gradient(245.93deg, rgba(0, 38, 165, 0.16) 0%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(147.6deg, rgba(0, 62, 185, 0) 29.79%, rgba(0, 68, 255, 0) 36.63%);
}


/* Light Mode for Specific Elements */
body.light-mode .bg-[#0B1120] {
    background-color: #ffffff;
    color: #0B1120;
}

body.light-mode .bg-[#1b2338] {
    background-color: #f1f5f9;
}

body.light-mode .text-white {
    color: #0B1120;
}

body.light-mode .border-gray-600 {
    border-color: #e2e8f0;
}

body.light-mode .text-gray-400 {
    color: #4b5563;
}

body.light-mode .bg-gray-700 {
    background-color: #e2e8f0;
}

body.light-mode .text-gray-300 {
    color: #6b7280;
}

/* Icon Colors */
body.light-mode .fa-moon {
    display: none;
}

body:not(.light-mode) .fa-sun {
    display: none;
}

/* Additional Adjustments */
body.light-mode svg {
    fill: #0B1120;
}


/* Header and Footer */

body.light-mode .main-menu {
    background: white;
    background-image: linear-gradient(327.21deg, rgba(176, 195, 255, 0.24) 3.65%, rgba(0, 42, 255, 0) 40.32%), linear-gradient(245.93deg, rgba(125, 155, 255, 0.16) 0%, rgba(71, 83, 255, 0) 36.63%), linear-gradient(147.6deg, rgba(0, 62, 185, 0) 29.79%, rgba(104, 149, 255, 0) 36.63%);
}


body.light-mode .logo-fill {
    color: #433bdb;
}

body.light-mode .signin-btn {
    color: #0B1120;
    border: 1px solid #17203a;
}

body.light-mode .signin-btn:hover {
    background-color: #0B1120;
    color: white;
    border: 1px solid #0B1120;
}

body.light-mode .get-start-btn {
    color: white;
}

body.light-mode .desktop-nav-menu:hover {
    background-color: #eee9ff;
    border-radius: 5px;
}

body.light-mode .dropdown-menu {
    box-shadow: 1px 1px 3px #0f1527;
    background-color: white;
    border: 1px solid #2e3e6b;
    border-top: 3px solid #17203a;
    animation-duration: 300ms;
}

body.light-mode .dropdown-item:hover {
    background-color: #eee9ff;
}


/* Footer White Mode */
body.light-mode .full-footer a:hover {
    color: #2962ff;
}

body.light-mode #footer {}



/* Mobile Menu White Mode */
body.light-mode .mobile-dropdown {
    background-color: white;
    border: 1px solid #c9e0ff;
}

body.light-mode .mobile-dropdown:hover {
    background-color: #f8f8f8;
    border: 1px solid #4879ff;
}


body.light-mode .mobile-signin-btn:hover {
    background-color: #2962ff;
    color: white;
}

body.light-mode .mobile-getstart-btn {
    color: white;
}

body.light-mode .mobile-getstart-btn {
    background-color: #2962ff;
}

body.light-mode .mobile-getstart-btn:hover {
    background-color: #4375ff;
}

body.light-mode .mobile-dropdown-menu {
    background-color: white;
}

body.light .mobile-dropdown-menu li {
    border-bottom: 1px solid #98a3b8;
}

/* Home Page White Mode */
body.light-mode .hero-tooltip {
    color: #0B1120;
}

body.light-mode .header-title {
    font-weight: 800;
}

body.light-mode .color-title {
    color: #2d26ad;
    font-weight: 800;
}

body.light-mode .hero-live-btn {
    color: #0B1120;
}

body.light-mode .hero-live-btn:hover {
    color: white;
    background-color: #0B1120;
}

body.light-mode .hero-start-btn {
    color: white;
}

body.light-mode .hero-icon {
    color: #433bdb;
    outline: #433bdb;
}

body.light-mode .app-text-des {
    color: #0B1120;
    font-weight: 300;
}

body.light-mode .app-btn {
    color: white;
}

body.light-mode .app-card {
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: inset;
}


body.light-mode .app-card:hover {
    background-color: #ffffff;
    border: 1px solid #2962ff;
}

body.light-mode .app-card i {
    color: #2962ff;
    background-color: white;
    border: 1px solid #beacff;
}

body.light-mode .app-card a {
    color: #483fec;
    font-weight: 500;
}

body.light-mode .app-card a:hover {
    color: #433bdb;
    font-weight: 500;
}

body.light-mode .home-feture {
    background: linear-gradient(to right, rgba(188, 94, 255, 0.288), white, rgba(188, 94, 255, 0.288));

}

body.light-mode .feature-card {
    background-color: white;
    color: #0B1120;
    border: 1px solid #c9e0ff;
}

body.light-mode .feature-card:hover {
    border: 1px solid #433bdb;
}

body.light-mode .feature-card h3 {
    color: #0B1120;
}

body.light-mode .feature-card i {
    color: white;
    background-color: #2962ff;
}

body.light-mode .feature-card p {
    color: #0f1527;
}

body.light-mode .feature-card a {
    color: #4375ff;
    font-weight: 500;
}

body.light-mode .feature-card a:hover {
    color: #7625b4;
}

body.light-mode #home-support {
    border: 1px solid #c9e0ff;
    box-shadow: 1px 1px 3px #4879ff;
}

body.light-mode #home-price-sec {
    background-image: linear-gradient(to right, #f1eeff, rgb(251, 252, 255), #f1eeff);
    color: #0B1120;
}

body.light-mode .pricing-title {
    color: #0B1120;
}

body.light-mode .pricing-text {
    color: #0B1120;
}

body.light-mode .pricing-btn {
    background-color: #433bdb;
    color: white;
}

body.light-mode .pricing-btn:hover {
    background-color: #433bdb;
    color: white;
}


body.light-mode .feature-sec-title h2 {
    color: #0B1120;
}

body.light-mode .feature-sec-title h3 {
    color: #0B1120;
}

body.light-mode .feature-sec-title p {
    color: #0B1120;
}

body.light-mode .feature-check {
    color: #0B1120;
}

body.light-mode .feature-check span {
    color: #0B1120;
}

body.light-mode .homepage-support-top {
    color: #0B1120;
}

body.light-mode .homepage-support-top {
    color: #0B1120;
}

body.light-mode .homepage-support-top h2 {
    color: #0B1120;
}

body.light-mode .homepage-support-top p {
    color: #0B1120;
}

body.light-mode .homepage-support-card i {
    background-color: #4375ff;
    color: white;
}

body.light-mode .homepage-support-card a {
    color: #4375ff;
}

body.light-mode .homepage-support-card a:hover {
    color: #2962ff;
}

body.light-mode .homepage-support-card h4 {
    color: #0B1120;
}

body.light-mode .homepage-support-card p {
    color: #f6f4ff;
}



body.light-mode .home-review {
    background-color: #ffffff;
    border: 1px solid #c9e0ff;
}

body.light-mode .home-review:hover {
    border: 1px solid #483fec;
    transition-duration: 300ms;
}

body.light-mode .home-review i {
    background-color: #f1eeff;
    color: #433bdb;
}

body.light-mode .fa-arrow-right {
    color: white;
}

body.light-mode #prev-btn {
    background: #e2e8f0;
}

body.light-mode #prev-btn:hover {
    background: #ffffff;
}

body.light-mode .fa-arrow-left {
    color: #483fec;
}

body.light-mode .review-user {
    color: #0f1527;
}

body.light-mode .cta-spacing {
    background-image: linear-gradient(to right, #f1eeff, rgb(251, 252, 255), #f1eeff);
}

body.light-mode #home-price-sec {
    background: transparent;
}

body.light-mode .home-cta h2 {
    color: #2962ff;
    font-weight: bold;
}

body.light-mode .home-cta p {
    color: #0f1527;
}

body.light-mode .cta-live-btn {
    color: #0f1527;
    border: 1px solid #0f1527;
}

body.light-mode #home-cta-sec {
    border: 1px solid #c9e0ff;
}


body.light-mode .cta-live-btn:hover {
    background-color: #0B1120;
    border: 1px solid #0f1527;
    color: white;
}

body.light-mode .cta-start-btn {
    background-color: #483fec;
    color: white;
}

body.light-mode .cta-start-btn:hover {
    background-color: #2d26ad;
}

body.light-mode .footer-text {
    color: #374151;
}

body.light-mode .footer-text:hover {
    color: #2962ff;
}

body.light-mode .footer-col a,
p {
    color: #2e3e6b;
}

body.light-mode .footer-col h4 {
    color: #374151;
    border-bottom: 1px solid #4b5563;
}

body.light-mode .social-icon i {
    color: #6b7280;
}


body.light-mode .social-icon i:hover {
    color: #4375ff;
}

body.light-mode .footer-col-5 i {
    color: #6b7280;
}


/* Technology Page White Mode */
body.light-mode .tech-hero-tag {
    color: #433bdb;
}

body.light-mode .tech-hero-des {
    color: #6b7280;
    font-weight: 400;
}

body.light-mode .about-hero-button a {
    color: white;
}


body.light-mode .technology-text {
    color: #6b7280;
}



body.light-mode .database-text {
    color: #6b7280;
}

body.light-mode .database-item {
    background-color: #ffffff;
    border: 1px solid #f1eeff;
}

body.light-mode #db-des {
    color: #6b7280;
}

body.light-mode .database-item img {
    background-color: white;
    border: 1px solid #eee9ff;
}

body.light-mode .database-item:hover {
    border: 1px solid #6c64ff;
}

body.light-mode .database-item h3 {
    color: #0B1120;
}

body.light-mode .database-item p {
    color: #0f1527;
}

body.light-mode .tech-other-feature {
    background-color: white;
    border: 1px solid #e2e8f0;
}

body.light-mode .tech-other-feature p {
    color: #98a3b8;
}

body.light-mode .tech-other-feature:hover {
    background-color: white;
    border: 1px solid #483fec;
    transition-duration: 300ms;

}

body.light-mode .tech-other-feature i {
    color: white;
}

body.light-mode .homepage-support p {
    color: #0f1527;
}

body.light-mode .tech-stack i {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    box-shadow: 1px 1px 2px blue;
}

body.light-mode #dns-card {
    border: 1px solid #c9e0ff;
}


body.light-mode .physical-server {
    background-color: #ffffff;
    border: 1px solid #c9e0ff;
}

body.light-mode .physical-server img {
    border: 1px solid #f1eeff;
}

body.light-mode .physical-server h3 {
    color: #0B1120;
}



/* App Hosting Page */
body.light-mode .app-hero-tag {
    color: #171283;
}

body.light-mode .app-hero-des {
    color: #0f1527;
    font-weight: 500;
}

body.light-mode .app-hero-button a {
    color: white;
}


body.light-mode .app-white-bg {
    background: #f8f8f8;
}

body.light-mode .app-section {
    background: transparent;
}

body.light-mode #web-server {
    background: transparent;
}

/* Product Features Page */
body.light-mode .product-features {
    background-color: white;
    border: 1px solid #c9e0ff;
}

body.light-mode .product-features:hover {
    background-color: white;
    border: 1px solid #2962ff;
}

body.light-mode .product-features i {
    color: #4879ff;
}

/* Individual Product Features Page */
body.light-mode .single-product-features {
    border: 1px solid #e2e8f0;
    color: #0B1120;
}

body.light-mode .single-product-features:hover {
    border: 1px solid #5e9eff;
    box-shadow: #192441;
}

body.light-mode .single-product-features p {
    color: #2e3e6b;
}


/* Contact Page */
body.light-mode .help-center {
    background-color: #ffffff;
    color: #0B1120;
    border: 1px solid #c9e0ff;
}

body.light-mode .help-center:hover {
    background-color: #f8f8f8;
    color: #0B1120;
    border: 1px solid #5e9eff;
}

body.light-mode .help-center button {
    background-color: #ffffff;
    color: #0B1120;
    border: 1px solid #beacff;
}

body.light-mode .help-center button:hover {
    background-color: #4375ff;
    color: white;
    border: 1px solid #4375ff;
}

body.light-mode .help-center i {
    color: #4879ff;
    font-size: 40px;
}

body.light-mode .condition-text {
    color: #2e3e6b;
}


body.light-mode .condition-text:hover {
    color: #4879ff;
}

body.light-mode #contact-form {
    background-color: #ffffff;
    border: 1px solid #c9e0ff;
}

body.light-mode #contact-form input {
    background-color: #f8f8f8;
    border: 1px solid #beacff;

}

body.light-mode #contact-form select {
    background-color: #f8f8f8;
    border: 1px solid #beacff;
}

body.light-mode #contact-form textarea {
    background-color: #f8f8f8;
    border: 1px solid #beacff;
}

body.light-mode #contact-form button {
    background-color: #4879ff;
    color: white;
}

body.light-mode #contact-form button:hover {
    background-color: #2962ff;
    color: white;
}


/* About Us Page */
body.light-mode .about-hero-text {
    color: #0B1120;
}

body.light-mode .about-feature-card {
    background: #ffffff;
    border: 1px solid #c9e0ff;
}

body.light-mode .about-feature-card:hover {
    background: #ffffff;
    border: 1px solid #4375ff;
    color: #0B1120;
}

body.light-mode .about-feature-icon {
    border: 1px solid #c9e0ff;
}

body.light-mode .feature-icon-text {
    fill: none;
    color: white;
}

body.light-mode .about-about-des {
    color: #6b7280;
}

body.light-mode .about-h2 span {
    color: #4375ff;
}

body.light-mode .about-about-card {
    border: 1px solid #e2e8f0;
}

body.light-mode .about-about-card:hover {
    border: 1px solid #4879ff;
}

body.light-mode .team-member {
    background-color: #ffffff;
    border: 1px solid #c9e0ff;
}


body.light-mode .team-member h3 {
    color: #0f1527;
}

body.light-mode .team-member p {
    color: #6b7280;
}

body.light-mode .team-member a {
    color: #6b7280;
}

body.light-mode .team-member a:hover {
    color: #4375ff;
}

body.light-mode .about-cta-cont {
    background: white;
}

body.light-mode .about-cta {
    background: #f8f8f8;
}

body.light-mode #how-it-work {
    color: #4375ff;
}


body.light-mode #how-it-work i {
    color: #4375ff;
}

body.light-mode .about-start {
    color: #5e9eff;
}

body.light-mode .about-start i {
    color: #5e9eff;
}

body.light-mode .about-start:hover {
    color: #4879ff;
}

body.light-mode .about-start i:hover {
    color: #4879ff;
}

body.light-mode .cta-card {
    background-color: #ffffff;
    border: 1px solid #c9e0ff;
    color: #0B1120;
}

body.light-mode .cta-card:hover {
    border: 1px solid #433bdb;
}

body.light-mode .cta-card a {
    color: white;
}

body.light-mode .cta-card p {
    color: #0B1120;
}

/* Pricing Page */

body.light-mode .pricing-card {
    background-color: #ffffff;
    box-shadow: #212e50;
    border: 1px solid #c9e0ff;
}

body.light-mode .pricing-title h1 {
    color: #2962ff;
}

body.light-mode .buy-plan:hover {
    background-color: #2962ff;
    color: white;
}

body.light-mode .active-buy-plan {
    background-color: #4c44e7;
    color: white;
}

body.light-mode .faqs-sec {
    background: #f8f8f8;
}



body.light-mode .faqs h2 {
    color: #0B1120;
}

body.light-mode .faqs button {
    background-color: #ffffff;
    border: 1px solid #f6f4ff;
}

body.light-mode .faqs-des {
    background-color: #f8f8f8;
}

body.light-mode .faqs-ans {
    color: #4b5563;
}

body.light-mode .active-pricing-card {
    background-color: #2962ff;
    color: white;
    border: 1px solid #2962ff;
}


body.light-mode .active-pricing-card p {
    color: #f1eeff;
}

body.light-mode .active-pricing-card ul {
    color: #f1eeff;
}

body.light-mode .active-pricing-card button {
    color: #2962ff;
    font-weight: 600;
    background-color: #f6f4ff;
}

body.light-mode .h-review-r-btn {
    color: white;
}

/* FAQs Page */

body.light-mode .faqs-main h1 {
    color: #0B1120;
}


body.light-mode .accordion-item {
    color: #0B1120;
}

body.light-mode .accor-icon {
    color: white;
}

/* Roadmap Page */
body.light-mode .roadmap-top {
    border: 1px solid #c9e0ff;
}

body.light-mode .roadmap-top:hover {
    border: 1px solid #483fec;
    background-color: white;
    transition-duration: 300ms;
}

body.light-mode .roadmap-top p {
    color: #4b5563;
}

body.light-mode .roadmap-top i {
    background-color: #e2e8f0;
}

/* Pricing Page */
body.light-mode .toggle-box {
    border: 1px solid #d6d6d6;
}

body.light-mode #monthlyBtn:enabled {
    color: white;
}

body.light-mode #yearlyBtn:enabled {
    color: white;
}

ody.light-mode #yearlyBtn {
    color: #374151;
}

body.light-mode .faqs-tab button:focus {
    color: white;
}

body.light-mode .accordion-item {
    background-color: white;
    border: 1px solid #e2e8f0;
}

body.light-mode .pricing-faq {
    border: none;
    border-bottom: 1px solid #d6d6d6;
    background: none;
}


/* White Mode Theme End */




/* Responsive Start */

@media (min-width: 375px) and (max-width: 1023px) {

    /* Navigation Menu*/
    .mobile-menu-nav {
        display: block;
    }

    .desktop-nav-btn {
        display: none;
    }

    nav .desktop-nav-menu {
        display: none;
    }


    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu-spacing {
        margin-left: 140px;
    }

    .mobile-menu-spacing {
        height: 765px;
        margin-top: 4px;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        border-top: 1px solid rgb(75 85 99);
    }

    .full-menu {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Homepage */
    .custom-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .homepage-pricing,
    .homepage-support {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .homepage-support-card {
        padding-left: 0px;
        padding-right: 0px;
    }

    .homepage-support-top {
        padding: 0px;
        margin-bottom: 30px;
    }

    .hero-spacing {
        padding-top: 40px;
    }

    .header-title {
        font-size: 40px;
        line-height: normal;
    }

    .about-feature {
        margin-top: -203px;
        padding-left: 20px;
        padding-right: 20px;
    }


    .hidden-section {
        display: none;
    }

    .custom-spacing {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .cta-title,
    .reviews-title {
        font-size: 30px;
    }

    .pricing-title,
    .features-title {
        font-size: 25px;
    }

    .cta-tagline {
        font-size: 20px;
    }

    /* About Page responsive */
    .about-hero {
        margin-top: -50px;
        text-align: center;
        padding: 15px;
        padding-bottom: 20px;
    }

    .about-hero p {
        font-size: 15px;
    }

    .about-hero-sec h2 {
        font-size: 38px;
    }

    .about-hero img {
        display: none;
    }

    .about-top-sec {
        padding-bottom: 50px;
    }


    .about-hero-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-hero-button a {
        text-align: center;

    }

    .about-h2 {
        font-size: 35px;
        line-height: normal;
        text-align: center;
    }

    .about-about {
        padding-left: 5px;
        padding-right: 5px;
    }

    .about-team {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-top {
        padding-top: 20px;
        padding-bottom: 100px;
    }

    .about-cta-cont {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about-cta {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .cta-card {
        width: 350px;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .desktop-toggler {
        display: none;
    }

    /* Technology Page */
    .tech-hero {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -30px;
    }

    .tech-db {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tech-database {
        padding-left: 5px;
        padding-right: 5px;
    }

    .tech-system {
        padding-left: 20px;
        padding-right: 20px;
    }

    .other-tech {
        padding-left: 20px;
        padding-right: 20px;
    }

    .system-req {
        margin-top: 150px;
        margin-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .system-req img {
        width: 100px;
    }

    .tech-db {
        margin-top: -150px;
        margin-bottom: -50px;
    }

    /* App Hosting Page */

    .app-hero-body {
        margin-top: -20px;
        margin-bottom: -10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .app-hero-sec {
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .app-hero-button {
        justify-content: center;
    }


    /* Product Feature Page */
    .feature-hero {
        margin-top: -40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .product-feature-sec {
        padding-left: 20px;
        padding-right: 20px;
    }

    #explore {
        padding-top: 0px;
    }


    /* Pricing Page */
    .pricing-title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pricing-title p {
        font-size: 15px;
    }

    .toggle-button {
        font-size: 15px;
    }

    .pricing-card {
        padding: 30px;
    }

    .pricing-card span {
        font-size: 20px;
    }

    .pricing-card button {
        font-size: 18px;
    }

    .pricing-card li {
        font-size: 15px;
    }

    .faqs {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 90%;
    }

    .faqs h2 {
        font-size: 24px;
    }

    .faqs-ques {
        font-size: 15px;
    }

    .faqs-ans {
        color: #98a3b8;
        font-size: 15px;
    }


    /* FAQs Page */
    .faqs-tab {
        gap: 8px;
    }

    /* Home Page New Style */
    .hero-title {
        font-size: 35px;
    }

    #home-hero {
        padding-left: 10px;
        padding-right: 10px;
    }

    #home-app {
        margin-top: -20px;
    }

    #home-features {
        margin-top: 30px;
    }

    #home-price-sec {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #monthlyBtn {
        font-size: 20px;
    }

    #yearlyBtn {
        font-size: 20px;
    }

    #home-review {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #home-review h2 {
        font-size: 26px;
    }

    #home-cta {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    #home-cta a {
        font-size: 15px;
    }

    #home-cta h2 {
        font-size: 35px;
    }

    #home-cta p {
        font-size: 17px;
    }

    /* Technology page */
    .technology-hero {
        padding-left: 10px;
        padding-right: 10px;
    }

    #technology-database {
        padding-top: 80px;
    }

    #dns-section {
        padding-top: 30px;
    }

    #email-section {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .email-image {
        display: none;
    }

    /* Application Hosting Page */
    .apphosting-1 {
        padding-bottom: 100px;
    }

    .apphosting-3 {
        padding-bottom: 80px;
    }

    .apphosting-4 {
        padding-top: 10px;
    }

    .apphosting-5 {
        padding-bottom: 150px;
    }

    /* Contact Page */
    .contact-main {
        padding-top: 50px;
    }

    .help-center {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
    }


    #contact-sec-text {
        margin-left: 0px;
        padding-right: 3px;
    }

    .help-center button {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }

    .contact-main {
        padding-bottom: 80px;
    }

}

@media (min-width: 1024px) and (max-width: 1279px) {

    /* Navigation Menu*/
    .mobile-menu-nav {
        display: none;
    }

    .main-menu {
        padding-left: 10px;
        padding-right: 15px;
    }

    nav {
        display: block;
    }

    .full-menu {
        padding-left: 10px;
        padding-right: 20px;
    }

    .mobile-menu-spacing {
        display: none;
    }

    /* Homepage */

    #home-hero {
        padding-left: 10px;
        padding-right: 10px;
    }

    #home-features {
        padding-left: 20px;
        padding-right: 20px;
    }

    .technology-page {
        padding-left: 10px;
        padding-right: 10px;
    }

    #footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .apphosting-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .apphosting-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .apphosting-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .apphosting-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .custom-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .app-card,
    .feature-card {
        padding: 20px;
    }

    .app-card,
    .feature-card h3 {
        font-size: 15px;
    }

    /* About Page */
    .about-hero {
        padding-left: 20px;
        padding-right: 10px;
    }

    .about-hero h2 {
        font-size: 40px;
    }

    .about-hero img {
        height: 400px;
        padding-right: 0px;
    }

    .about-team {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .team-member-col {
        display: grid;
        gap: 15px;
    }

    .about-feature {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-top-sec {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-feture-column {
        column-gap: 15px;
    }

    .about-about {
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-about img {
        height: 120px;
    }

    .about-about-column {
        column-gap: 20px;
    }

    .about-about-card {
        padding: 15px;
    }

    /* Contact Page */
    #contact-form {
        width: 1023px;
    }

    .mobile-toggler {
        display: none;
    }

    .contact-main {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #contact {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 150px;
    }

    #contact-form {
        padding-left: 30px;
        padding-right: 30px;
        width: 975px;
    }

    /* Technology page */
    .tech-hero {
        padding-left: 25px;
        padding-right: 25px;
    }

    .tech-db {
        padding-left: 20px;
        padding-right: 20px;
    }

    .other-tech {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tech-system {
        padding-left: 20px;
        padding-right: 20px;
    }

    .system-req {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 100px;
    }

    .system-req img {
        width: 100px;
    }

    .email-image {
        width: 100%;
        padding-right: 30px;
    }

    /* Application Hosting Page */
    .app-hero-body {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Product Feature Page */
    .feature-hero {
        margin-top: -40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .product-feature-sec {
        padding-left: 20px;
        padding-right: 20px;
    }

    #explore {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
    }

    /* Pricing Page */

    .pricing-title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pricing-card {
        padding: 30px;
    }

    /* Home page new design */
    #home-cta {
        margin-top: -150px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .full-footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* App Hosting Page */
    .apphosting-4 {
        padding-top: 50px;
        padding-bottom: 150px;
    }

    .apphosting-5 {
        padding-top: 10px;
        padding-bottom: 200px;
    }


    /* Roadmap page */
    #roadmap {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 100px;
    }

    /* Footer */
    .footer-col-5 a,
    p {
        font-size: 15px;
        line-height: 2;
    }


    /* Dashborad Responsive */
    #sidebar {
        width: 30%;
    }

    #dashborad-footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #footer-left {
        width: 20%;
    }

    #footer-right {
        width: 80%;
        padding-left: 70px;
    }

    #main-content {
        width: 90%;
        padding-left: 15px;
        padding-right: 5px;
    }

    #account-integration {
        gap: 1rem;
    }




}






@media (min-width: 1280px) {

    /* Navigation Menu*/
    .mobile-menu-nav {
        display: none;
    }

    nav {
        display: block;
    }

    .mobile-menu-spacing {
        display: none;
    }

    /* Contact Page */


    .mobile-toggler {
        display: none;
    }

    .other-tech {
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 80px;
    }

    /* FAQs page */


}

@media (min-width: 375px) and (max-width: 780px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        width: 48%;
        /* Two columns per row */
        margin-bottom: 40px;
        /* Add some margin at the bottom for spacing */
    }

    .footer-col:nth-child(5) {
        width: 100%;
        /* Take up the full width */
        display: flex;
        flex-direction: column;
        /* Stack content vertically */
        align-items: center;
        /* Center align the items */
        justify-content: center;
        /* Center the content vertically */
        text-align: center;
        /* Center the text */
    }

    .footer-col:nth-child(5) .flex {
        justify-content: center;
        /* Ensure inner flex items are centered */
    }

    .footer-bottom {
        margin-top: -5px;
    }

    .footer-text {
        font-size: 15px;
    }

    .about-footer-bottom {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 781px) and (max-width: 1023px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        width: 30%;
        /* Three columns per row */
        margin-bottom: 20px;

    }
}

@media (min-width: 1024px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        width: 18%;
        /* Five columns per row */
    }
}