/* Custom CSS Start*/
.team-member {
    background: #192441;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: white;
    border: solid 1px #2e3e6b;
}

.team-member:hover {
    background-color: #17203a;
}

.team-member img {
    height: 80px;
}

.about-about-card {
    padding: 30px;
}

.review-left-btn {
    background-color: #eee9ff;
}

.review-left-btn:hover {
    background-color: #e2e8f0;
}

.review-right-btn {
    background-color: #6c64ff;
}

.review-right-btn:hover {
    background-color: #4c44e7;
}

.about-about-card:hover {
    background-color: #17203a;
}

.card-styling:hover {
    background-color: #17203a;
    border: 1px solid #212e50;
}

.card-img {
    height: 200px;

}

.about-cta {
    background-color: #0B1120;
    padding: 90px;
}

.about-feature-card {
    background-color: #2e3e6b;
}

.about-feature-card:hover {
    background-color: #192441;
    color: white;
}

.cta-card {
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 40px;
    background-color: #17203a;
    border: 1px solid #212e50;
    color: white;
}

.cta-card:hover {
    background-color: #0f1527;
    border: 1px solid #212e50;
}

/* Contact Page */
.contact-main {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}

.contact-cta {
    padding-left: 10px;
    padding-right: 10px;
}

.help-center {
    background-color: #0f1527;
    border: 1px solid #192441;
    border-radius: 10px;
    color: white;
}

.help-center:hover {
    background-color: #212e50;
    border: 1px solid #2e3e6b;
}

#contact {
    padding-top: 50px;
}

#contact-form {
    margin-top: 50px;
    margin-bottom: 50px;
}

.full-footer {
    padding-left: 10px;
    padding-right: 10px;
}


/* Technology Page */


.tech-hero img {
    width: 1200px;
}

.tech-hero-text {
    width: 40%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #f6f4ff;
    border: 1px solid #6c64ff;
    border-style: dotted;
    border-radius: 5px;
}

.tech-hero-server {
    background-color: #0B1120;
    color: white;
}

.server-icon {
    width: 60px;
}

.server-text {
    margin-top: 60px;
}

.tech-database {
    margin-top: 80px;
    margin-bottom: 80px;
}

.database-sec {
    margin-top: 40px;
}

.database-item {
    padding: 30px;
    border: 1px solid #2e3e6b;
}

.database-item:hover {
    border: 1px solid #433bdb;
    background-color: #0f1527;
}

.database-item img {
    height: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.tech-other-feature {
    padding: 30px;
    background-color: #0f1527;
    border: 1px solid #17203a;
}

.tech-other-feature:hover {
    background-color: #17203a;
    border: 1px solid #192441;
    transition-duration: 0.3s;
}

.technology-sec {
    margin-top: 50px;
    margin-bottom: 80px;
}

.tech-db {
    padding-top: 120px;
    padding-bottom: 120px;
}

.system-req {
    
    margin-bottom: 150px;
}

.server-req-text {
    margin-left: 20px;
}

.physical-server {
    background-color: #0f1527;
    padding: 20px;
    color: white;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #17203a;
}

.physical-server img {
    width: 200px;
    background-color: #212e50;
}


/* App Hosting page */
.hero-text {
    width: 50%;
}

.app-hero-image {
    width: 50%;
    width: 600px;
}

.app-hosting-card {
    background: #0f1527;
}


/* Product Features Page */
.product-features {
    background-color: #0f1527;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #17203a;
    border-radius: 5px;
}

.product-features:hover {
    background-color: #17203a;
    border: 1px solid #433bdb;
    transition-duration: 0.3s;
}

.single-product-features {
    background-color: #0f1527;
    color: white;
    padding: 25px;
    border: 1px solid #17203a;
    border-radius: 5px;
}

.single-product-features:hover {
    background-color: #17203a;
    border: 1px solid #433bdb;
    transition-duration: 0.3s;
}

.single-product-features p {
    margin-top: 10px;
    color: #98a3b8;
}


/* Custom CSS End */


/* White Mode Theme Start */
body.light-mode {
    background-color: #ffffff;
    color: #0B1120;
}

/* Light Mode for Specific Elements */
body.light-mode .bg-[#0B1120] {
    background-color: #ffffff;
    color: #0B1120;
}

body.light-mode .bg-[#1b2338] {
    background-color: #f1f5f9;
}

body.light-mode .text-white {
    color: #0B1120;
}

body.light-mode .border-gray-600 {
    border-color: #e2e8f0;
}

body.light-mode .text-gray-400 {
    color: #4b5563;
}

body.light-mode .bg-gray-700 {
    background-color: #e2e8f0;
}

body.light-mode .text-gray-300 {
    color: #6b7280;
}

/* Icon Colors */
body.light-mode .fa-moon {
    display: none;
}

body:not(.light-mode) .fa-sun {
    display: none;
}

/* Additional Adjustments */
body.light-mode svg {
    fill: #0B1120;
}

/* Header and Footer */

body.light-mode .main-menu {
    background-color: white;
}

body.light-mode .full-menu {
    background-color: white;
}

body.light-mode .logo-fill {
    color: #433bdb;
}

body.light-mode .signin-btn:hover {
    background-color: #0B1120;
    color: white;
    border: 1px solid #0B1120;
}

body.light-mode .get-start-btn {
    color: white;
}

body.light-mode .desktop-nav-menu:hover {
    background-color: #eee9ff;
    border-radius: 5px;
}

body.light-mode .dropdown-menu {
    background-color: white;
    border: 1px solid #2d26ad;
    border-top: 3px solid #2d26ad;
    animation-duration: 0.3s;
}

body.light-mode .dropdown-item:hover {
    background-color: #eee9ff;
}


/* Footer White Mode */
body.light-mode .full-footer a:hover {
    color: #2d26ad;
}

/* Mobile Menu White Mode */
body.light-mode .mobile-dropdown {
    background-color: white;

}

body.light-mode .mobile-signin-btn:hover {
    background-color: #4c44e7;
    color: white;
}

body.light-mode .mobile-getstart-btn {
    color: white;
}

body.light-mode .mobile-dropdown-menu {
    background-color: white;

}

/* Home Page White Mode */
body.light-mode .hero-tooltip {
    color: #0B1120;
}

body.light-mode .header-title {
    font-weight: 800;
}

body.light-mode .color-title {
    color: #2d26ad;
    font-weight: 800;
}

body.light-mode .hero-live-btn {
    color: #0B1120;
}

body.light-mode .hero-live-btn:hover {
    color: white;
    background-color: #0B1120;
}

body.light-mode .hero-start-btn {
    color: white;
}

body.light-mode .hero-icon {
    color: #433bdb;
    outline: #433bdb;
}

body.light-mode .app-text-des {
    color: #0B1120;
    font-weight: 300;
}

body.light-mode .app-btn {
    color: white;
}

body.light-mode .app-card {
    background-color: white;
    border: 1px solid #beacff;
    box-shadow: inset;
}

body.light-mode .app-card:hover {
    background-color: #f6f4ff;
    border: 1px solid #6c64ff;
    color: white;
}

body.light-mode .app-card i {
    color: #433bdb;
    background-color: white;
}

body.light-mode .app-card a {
    color: #483fec;
    font-weight: 500;
}

body.light-mode .app-card a:hover {
    color: #433bdb;
    font-weight: 500;
}

body.light-mode .home-feture {
    background: linear-gradient(to right, rgba(188, 94, 255, 0.288), white, rgba(188, 94, 255, 0.288));

}

body.light-mode .feature-card {
    background-color: #4c44e7;
    border: none;
}

body.light-mode .feature-card:hover {
    background-color: #2d26ad;
}

body.light-mode .feature-card h3 {
    color: white;
}

body.light-mode .feature-card i {
    color: #433bdb;
    background-color: white;
}

body.light-mode .feature-card p {
    color: #f6f4ff;
}

body.light-mode .feature-card a {
    color: white;
    font-weight: 400;
    border: 1px solid #beacff;
}

body.light-mode .feature-card a:hover {
    color: #433bdb;
    background-color: white;
    border: 1px solid white;
}

body.light-mode #home-price-sec {
    background: #f8f8f8;
    color: #0B1120;
}

body.light-mode .pricing-title {
    color: #0B1120;
}

body.light-mode .pricing-text {
    color: #0B1120;
}

body.light-mode .pricing-btn {
    background-color: #433bdb;
    color: white;
}

body.light-mode .pricing-btn:hover {
    background-color: #433bdb;
    color: white;
}


body.light-mode .feature-sec-title h2 {
    color: #0B1120;
}

body.light-mode .feature-sec-title h3 {
    color: #0B1120;
}

body.light-mode .feature-sec-title p {
    color: #0B1120;
}

body.light-mode .feature-check {
    color: #0B1120;
}

body.light-mode .feature-check span {
    color: #0B1120;
}

body.light-mode .homepage-support-top {
    color: #0B1120;
}

body.light-mode .homepage-support-top {
    color: #0B1120;
}

body.light-mode .homepage-support-top h2 {
    color: #0B1120;
}

body.light-mode .homepage-support-top p {
    color: #0B1120;
}

body.light-mode .homepage-support-card i {
    background-color: white;
    color: #433bdb;
}

body.light-mode .homepage-support-card a {
    color: #433bdb;
}

body.light-mode .homepage-support-card a:hover {
    color: #171283;
}

body.light-mode .homepage-support-card h4 {
    color: #0B1120;
}

body.light-mode .homepage-support-card p {
    color: #f6f4ff;
}


body.light-mode .home-review {
    background-color: #f6f4ff;
}

body.light-mode .home-review i {
    background-color: white;
    color: #433bdb;
}

body.light-mode .review-left-btn {
    background-color: #e2e8f0;
    color: #433bdb;
}

body.light-mode .review-left-btn svg {
    background-color: #e2e8f0;
    color: #433bdb;
}

body.light-mode .review-right-btn {
    background-color: #6c64ff;
}

body.light-mode .review-icon {
    color: #0B1120;
}

body.light-mode .review-user {
    color: #0f1527;
}

body.light-mode .home-cta {
    background: #2d26ad;
}

body.light-mode .home-cta h2 {
    color: white;
    font-weight: bold;
}

body.light-mode .home-cta p {
    color: #f6f4ff;
}

body.light-mode .cta-live-btn {
    color: white;
    border: 1px solid white;
}

body.light-mode .cta-live-btn:hover {
    background-color: white;
    border: 1px solid white;
    color: #433bdb;
}

body.light-mode .cta-start-btn {
    background-color: white;
    color: #2d26ad;
}

body.light-mode .cta-start-btn:hover {
    background-color: #4c44e7;
    color: white;
}

body.light-mode .footer-text {
    color: #433bdb;
}

body.light-mode .footer-text:hover {
    color: #2d26ad;
}

body.light-mode .footer-col a,
p {
    color: #0B1120;
}

/* Technology Page White Mode */
body.light-mode .tech-hero-tag {
    color: #433bdb;
}

body.light-mode .tech-hero-des {
    color: #0f1527;
    font-weight: 500;
}

body.light-mode .about-hero-button a {
    color: white;
}


body.light-mode .technology-text {
    color: #0f1527;
}

body.light-mode .database-text {
    color: #0f1527;
}

body.light-mode .database-item {
    color: #0B1120;
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
}

body.light-mode .database-item img {
    background-color: #f6f4ff;
}

body.light-mode .database-item:hover {
    border: 1px solid #6c64ff;
}

body.light-mode .database-item h3 {
    color: #0B1120;
}

body.light-mode .database-item p {
    color: #0f1527;
}

body.light-mode .tech-other-feature {
    background-color: white;
    border: 1px solid #e2e8f0;
}

body.light-mode .tech-other-feature:hover {
    background-color: white;
    border: 1px solid #483fec;
    transition-duration: 0.3s;

}

body.light-mode .tech-other-feature i {
    color: white;
}

body.light-mode .homepage-support p {
    color: #0f1527;
}

body.light-mode .tech-stack i {
    color: #0B1120;
    background-color: #ffffff;
    border: 1px solid #98a3b8;
}

body.light-mode .tech-db {
    background-color: #f8f8f8;
}

body.light-mode .physical-server {
    background-color: #ffffff;
    border: 1px solid #c9e0ff;
}

body.light-mode .physical-server h3{
    color: #0B1120;
    font-weight: ;
}



/* App Hosting Page */
body.light-mode .app-hero-tag {
    color: #171283;
}

body.light-mode .app-hero-des {
    color: #0f1527;
    font-weight: 500;
}

body.light-mode .app-hero-button a {
    color: white;
}

/* Product Features Page */
body.light-mode .product-features {
    background-color: white;
    border: 1px solid #c9e0ff;
}

body.light-mode .product-features:hover {
    background-color: rgba(250, 250, 255, 0.5);
    border: 1px solid #6c64ff;
    box-shadow: #192441;
}

body.light-mode .product-features i {
    color: #433bdb;
}

/* Individual Product Features Page */
body.light-mode .single-product-features {
    background-color: white;
    border: 1px solid #c9e0ff;
    color: #0B1120;
}

body.light-mode .single-product-features:hover {
    background-color: rgba(250, 250, 255, 0.5);
    border: 1px solid #6c64ff;
    box-shadow: #192441;
}

body.light-mode .single-product-features p {
    color: #2e3e6b;
}


/* White Mode Theme End */




/* Responsive Start */

@media (min-width: 375px) and (max-width: 1023px) {

    /* Navigation Menu*/
    .mobile-menu-nav {
        display: block;
    }

    .desktop-nav-btn {
        display: none;
    }

    nav .desktop-nav-menu {
        display: none;
    }


    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu-spacing {
        margin-left: 140px;
    }

    .mobile-menu-spacing {
        height: 765px;
        margin-top: 4px;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        border-top: 1px solid rgb(75 85 99);
    }

    .full-menu {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Homepage */
    .custom-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .homepage-pricing,
    .homepage-support {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .homepage-support-card {
        padding-left: 0px;
        padding-right: 0px;
    }

    .homepage-support-top {
        padding: 0px;
        margin-bottom: 30px;
    }

    .hero-spacing {
        padding-top: 40px;
    }

    .header-title {
        font-size: 40px;
        line-height: normal;
    }

    .about-feature {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hidden-section {
        display: none;
    }

    .custom-spacing {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .cta-title,
    .reviews-title {
        font-size: 30px;
    }

    .pricing-title,
    .features-title {
        font-size: 25px;
    }

    .cta-tagline {
        font-size: 20px;
    }

    /* About Page responsive */
    .about-hero {
        margin-top: -50px;

        text-align: center;
        padding: 15px;
        margin-bottom: -20px;
    }

    .about-hero p {
        font-size: 15px;
    }

    .about-hero img {
        display: none;
    }

    .about-hero-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-hero-button a {
        text-align: center;

    }

    .about-h2 {
        font-size: 35px;
        line-height: normal;
        text-align: center;
    }

    .about-team {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-cta-cont {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about-cta {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .cta-card {
        width: 350px;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .about-feature {
        padding-top: 30px;
    }

    .desktop-toggler {
        display: none;
    }

    /* Technology Page */
    .tech-hero {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -30px;
    }

    .tech-db {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tech-database {
        padding-left: 5px;
        padding-right: 5px;
    }

    .tech-system {
        padding-left: 20px;
        padding-right: 20px;
    }

    .other-tech {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* App Hosting Page */

    .app-hero-body {
        margin-top: -20px;
        margin-bottom: -10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .app-hero-sec {
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .app-hero-button {
        justify-content: center;
    }


    /* Product Feature Page */
    .feature-hero {
        margin-top: -40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .product-feature-sec {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (min-width: 1024px) and (max-width: 1279px) {

    /* Navigation Menu*/
    .mobile-menu-nav {
        display: none;
    }

    nav {
        display: block;
    }

    .full-menu {
        padding-left: 10px;
        padding-right: 20px;
    }

    .mobile-menu-spacing {
        display: none;
    }

    /* Homepage */
    .custom-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .app-card,
    .feature-card {
        padding: 20px;
    }

    .app-card,
    .feature-card h3 {
        font-size: 15px;
    }

    /* About Page */
    .about-hero {
        padding-left: 20px;
        padding-right: 10px;
    }

    .about-hero h2 {
        font-size: 40px;
    }

    .about-hero img {
        height: 400px;
        padding-right: 0px;
    }

    .about-feature {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-feture-column {
        column-gap: 15px;
    }

    .about-about {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-about img {
        height: 120px;
    }

    .about-about-column {
        column-gap: 20px;
    }

    .about-about-card {
        padding: 15px;
    }

    /* Contact Page */
    #contact-form {
        width: 1023px;
    }

    .mobile-toggler {
        display: none;
    }

    /* Technology page */
    .tech-hero {
        padding-left: 25px;
        padding-right: 25px;
    }

    .tech-db {
        padding-left: 20px;
        padding-right: 20px;
    }

    .other-tech {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tech-system {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Application Hosting Page */
    .app-hero-body {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Product Feature Page */
    .feature-hero {
        margin-top: -40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .product-feature-sec {
        padding-left: 20px;
        padding-right: 20px;
    }



}






@media (min-width: 1280px) {

    /* Navigation Menu*/
    .mobile-menu-nav {
        display: none;
    }

    nav {
        display: block;
    }

    .mobile-menu-spacing {
        display: none;
    }

    /* Contact Page */
    #contact-form {
        width: 1023px;
    }

    .mobile-toggler {
        display: none;
    }

    .technology-hero {
        margin-top: 140px;
        margin-bottom: 140px;
    }

    .other-tech {
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 80px;
    }


}

@media (min-width: 375px) and (max-width: 780px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        width: 48%;
        /* Two columns per row */
        margin-bottom: 40px;
        /* Add some margin at the bottom for spacing */
    }

    .footer-col:nth-child(5) {
        width: 100%;
        /* Take up the full width */
        display: flex;
        flex-direction: column;
        /* Stack content vertically */
        align-items: center;
        /* Center align the items */
        justify-content: center;
        /* Center the content vertically */
        text-align: center;
        /* Center the text */
    }

    .footer-col:nth-child(5) .flex {
        justify-content: center;
        /* Ensure inner flex items are centered */
    }

    .footer-bottom {
        margin-top: -5px;
    }

    .footer-text {
        font-size: 15px;
    }

    .about-footer-bottom {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 781px) and (max-width: 1023px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        width: 30%;
        /* Three columns per row */
        margin-bottom: 20px;

    }
}

@media (min-width: 1024px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        width: 18%;
        /* Five columns per row */
    }
}