/* Custom CSS */
@media (min-width: 380px) and (max-width: 768px) {
    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .custom-menu-spacing {
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-spacing {
        margin-left: 140px;
    }

    .mobile-menu-spacing {
        height: 765px;
        margin-top: 4px;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        border-top: 1px solid rgb(75 85 99);
    }

    .hero-spacing {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-title {
        font-size: 40px;
        line-height: normal;
    }

    .custom-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hidden-section {
        display: none;
    }

    .custom-spacing {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .cta-title,
    .reviews-title {
        font-size: 30px;
    }

    .pricing-title,
    .features-title {
        font-size: 25px;
    }

    .cta-tagline {
        font-size: 20px;
    }

}

@media (min-width: 380px) and (max-width: 780px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        width: 48%; /* Two columns per row */
        margin-bottom: 40px; /* Add some margin at the bottom for spacing */
    }
    .footer-col:nth-child(5) {
        width: 100%; /* Take up the full width */
        display: flex;
        flex-direction: column; /* Stack content vertically */
        align-items: center; /* Center align the items */
        justify-content: center; /* Center the content vertically */
        text-align: center; /* Center the text */
    }

    .footer-col:nth-child(5) .flex {
        justify-content: center; /* Ensure inner flex items are centered */
    }
    .footer-bottom{
        margin-top: -5px;
    }
    .footer-text{
        font-size: 15px;
    }
}

@media (min-width: 781px) and (max-width: 1023px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        width: 30%; /* Three columns per row */
        margin-bottom: 20px;
        
    }
}

@media (min-width: 1024px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        width: 18%; /* Five columns per row */
    }
}
